header {
  position: sticky;
}

main {
  max-width: 1000px;
  margin: 50px auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

/* Small screen adjustments */
@media (max-width: 600px) {
  th,
  td {
    font-size: 14px; /* Smaller font size */
    padding: 5px; /* Smaller padding */
  }
}
